{% extends "SLDashbordBundle:Dashbord:layoutDashbord.html.twig" %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Devoirs et Interrogations
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('sl_dashbord_homepage') }}"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Devoirs et Interrogations
                    </section>

<!-- Main content -->
        <section class="content">

            <div class="row-fluid">
                <div class="col-xs-12 col-sm-12">
                    <!--Start Dashboard Tab 1-->
                    <div id="dashboard-overview" class="row" style="visibility: visible; position: relative;">
                        <div class="col-xs-12">

                            <div class="row">
                                {% for types in lesNotes %}
                                    <div class="col-xs-12 col-sm-6">
                                        
                                            <div class="box box-solid box-primary">

                                                            <div class="box-header with-border"">
                                                                <h3 class="box-title">
                                                                    <span><b>{{ types.libelle|capitalize}}</b></span>
                                                                </h3>
                                                                <div class="box-tools pull-right">
                                                                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Réduire"><i class="fa fa-minus"></i></button>
                                                                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Supprimer"><i class="fa fa-times"></i></button>
                                                                </div>
                                                            </div>
                                                            <div class="box-body">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Date</th>
                                                                            <th>Note</th>
                                                                            <th>Coefficient</th>
                                                                            <th>Appréciation</th>
                                                                            <th>Matière</th>
                                                                        </tr >
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {%for notes in types.notes %}
                                                                            <tr class="{% if ((notes.coefficient==1 and notes.note<=3) or (notes.coefficient==2 and notes.note<=5)) %} bd-red {% elseif ((notes.coefficient==1 and notes.note<5) or (notes.coefficient==2 and notes.note<10)) %} bg-orange {% elseif ((notes.coefficient==1 and notes.note<=7) or (notes.coefficient==2 and notes.note<=14)) %} bg-aqua {%else %} bg-green {%endif%}">
                                                                                <td>{{loop.index}}</td>
                                                                                <td>{{notes.dateCompo|date('d-m-Y')}}</td>
                                                                                <td>{{notes.note}}</td>
                                                                                <td>{{notes.coefficient}}</td>
                                                                                <td>{{notes.appreciation}}</td>
                                                                                <td>{{notes.matiere.libelle}}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--End Dashboard Tab 1-->

                            </div>


                    <div class="clearfix"></div>
                    </section>
                    </div>
                    <!--End Dashboard 2 -->
                    <div style="height: 40px;"></div>
                    {{ parent() }}

                {%endblock%}
                