{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Details_ct list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Nombreheure</th>
                <th>Dateenregistrement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('details_ct_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.nombreHeure }}</td>
                <td>{% if entity.dateEnregistrement %}{{ entity.dateEnregistrement|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('details_ct_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('details_ct_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('details_ct_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
