{% extends "SLDashbordBundle:Dashbord:layoutDashbord.html.twig" %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Educateurs
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('sl_dashbord_homepage') }}"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Educateurs</li>
            </ol>
        </section>



        <!-- Main content -->
        <section class="content">
            {% for message in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4<i class="icon fa fa-check"></i> Notice!</h4>
                             {{ message }}
                        </div>
                    {% endfor %}
          <div class="row">
            <div class="col-md-2 col-xs-12">
              <a href="#" class="btn btn-block btn-primary btn-social disabled"><i class="glyphicon glyphicon-list"></i> Liste</a>
                <a href="{{ path('sl_admin_educateur_ajout') }}" class="btn btn-block btn-primary btn-social"><i class="glyphicon glyphicon-plus"></i> Ajouter </a>
            
            </div><!-- /.col -->
            <div class="col-md-10 col-xs-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Liste des Educateurs</h3>
                 <div class="box-tools pull-right">
                        <a class="btn btn-box-tool" download="Sch_fichier_educateur.xls" href="#" onclick="return ExcellentExport.excel(this, 'example1', 'Sch_fichier');"><i class="fa fa-file-excel-o"></i> &nbsp;exporter</a>
                      </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                  <div class="mailbox-controls">
                   
                  <div class="table-responsive mailbox-messages">
                    <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nom</th>
                            <th>Prénoms</th>
                            <th>Contacts</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for educateur in lesEducateurs %}
                            <!-- Start: list_row -->
                            <tr>
                                <td>{{loop.index}}</td>
                                <td><img class="img-rounded" src="{{asset(educateur.personne.image.webPath)}}" alt="" width="60" height="60">{{educateur.personne.nom}}</td>
                                <td>{{educateur.personne.prenoms}}</td>
                                <td>{{educateur.personne.telephone}}</td>
                                <td>{{educateur.personne.email}}</td>
                                <td><a href="{{ path('sl_admin_educateur_voir', {'id' : educateur.id } ) }}" class="btn btn-block btn-primary btn-social"><i class="glyphicon glyphicon-user"></i> Voir  </a></td>
                                <td><a href="{{ path('educateur_edit', {'id' : educateur.id } ) }}" class="btn btn-block btn-primary btn-social"><i class="glyphicon glyphicon-pencil"></i> Modifier  </a></td>
                                <td><a href="{{ path('sl_admin_educateur_supprimer', {'id' : educateur.id } ) }}" class="btn btn-block btn-primary btn-social" onclick="return(confirm('Etes-vous sûr de vouloir supprimer ce professeur ?'));"><i class="glyphicon glyphicon-remove"></i> Supprimer  </a></td>
                            </tr>
                        {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>N°</th>
                            <th>Nom</th>
                            <th>Prénoms</th>
                            <th>Contacts</th>
                            <th>Email</th>
                        </tr>
                    </tfoot>
                </table>
                  </div><!-- /.mail-box-messages -->
                </div><!-- /.box-body -->
                
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
    </div>
    <!--End Dashboard 2 -->
    <div style="height: 40px;"></div>
    {{ parent() }}
 <!-- jQuery 2.1.4 -->
    <script src="{{asset('bundles/sldashbord/plugins/jQuery/jQuery-2.1.4.min.js')}}"></script>
    <script src="{{asset('bundles/sldashbord/js/excellentexport.js')}}">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#example1").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{%endblock%}