{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EleveExamen</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ entity.note }}</td>
            </tr>
            <tr>
                <th>Coefficient</th>
                <td>{{ entity.coefficient }}</td>
            </tr>
            <tr>
                <th>Appreciation</th>
                <td>{{ entity.appreciation }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('eleveexamen') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('eleveexamen_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
